@import 'vars.scss';

.Cart {
  display: flex;
  justify-content: center;
  border: 1px $clr200 solid;
  background-color: $clr50;
  .calc {
    background-color: $clr300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    h2 {
      margin: 0;
      display: inline-block;
      font-size: 34px;
    }
    button {
      background-color: $btn-color;
      box-shadow: 6px 7px 10px -7px #000000;
      color: $clr100;
      border: none;
      border-radius: 3px;
      width: 40%;
      height: 40px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  p {
    text-align: center;
    white-space: pre-line;
    a {
      color: $mainclr;
      text-decoration: none;
      border-bottom: 1px dashed $mainclr;
      &:hover {
        border-bottom: none;
      }
    }
  }
}