@import 'vars.scss';

.Layout {
  min-height: 100vh;
  padding: 20px 30px;
  background-color: $clr300;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.flexColum {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.spaceAround {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}